*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  height: 100px;
  width: 100%;
  margin:  25px;
}

.container-gaeta{
  height: 15vw;
  width: 30%;
  background-image: url(../img/10-cose-da-vedere-a-Gaeta.jpg);
  background-size: cover;
  position: relative;
  border-radius: 7px;
  margin-bottom: 15px;
}

.container-amsterdam{
  height: 15vw;
  width: 30%;
  background-image: url(../img/amsterdam.jpg);
  background-size: cover;
  position: relative;
  border-radius: 7px;
  margin-bottom: 15px;
}

.container-newyork{
  height: 15vw;
  width: 30%;
  background-image: url(../img/1_318_02.jpg);
  background-size: cover;
  position: relative;
  border-radius: 7px;
  margin-bottom: 15px;
}


.layover{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(210, 210, 210, 0.6);
}

.titolo{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  font-size: 5em;
  color: black;
  font-style: italic;
}
/* solo per new york per allinearlo bene al centro essendo due parole */
.titolo-newyork{
  text-align: center;
}

.container-città:hover .layover {
  background-color: rgba(255, 255, 255, 0.1);
   cursor: pointer;

}
